
:root {
  --pixel-size: 2px;
  --grid-cell: 64px;
  --bg: #9fa7e4;
}
@media( min-width: 700px ) {
  :root {
     --pixel-size: 3px;
  }
}
@media( min-width: 1000px ) {
  :root {
     --pixel-size: 4px;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
